@import url(./variables.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--body-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}

.btn {
  background-color: none;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  padding: 0.75rem 0.8rem;
}

.btn--hidden {
  display: none;
}

.choose-symbol-screen--hidden {
  display: none;
}

.choose-symbol-screen__title {
  text-align: center;
}

.symbols-container {
  margin-block: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.symbol {
  border: 8px solid var(--symbol-border-color);
  border-radius: 5px;
  background-color: var(--symbol-bg);
  cursor: pointer;
  height: 230px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 60px;
  transition: all 0.3s ease;
}

.symbol--choosen {
  border-color: var(--symbol-choosen-border-color);
}

.btn--start-game {
  background-color: var(--btn-start-game-bg);
  color: var(--btn-start-game-color);
  font-weight: bold;
  width: 100%;
}

.game-screen {
  display: grid;
  gap: 20px;
}

.game-screen--hidden {
  display: none;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px 12px;
  height: 500px;
  width: 500px;
}

.game-board__block {
  background-color: var(--game-board-block-bg);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: var(--game-board-block-color);
}

.game-screen__btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn--play-again {
  background-color: var(--btn-play-again-bg);
  color: var(--btn-play-again-color);
}

.btn--restart {
  background-color: var(--btn-restart-bg);
  color: var(--btn-restart-color);
}

.btn--back-to-choose-screen {
  background-color: rgb(210, 24, 24);
  color: var(--btn-back-to-choose-screen-color);
}
