@import url(./variables.css);

@media only screen and (max-width: 625px) {
  .choose-symbol-screen {
    width: 90%;
  }

  .symbols-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .symbol {
    height: 200px;
    width: 200px;
  }

  .game-board {
    height: 400px;
    min-width: 350px;
    width: 90%;
  }
}

@media only screen and (hover: hover) {
  .symbol:hover {
    background-color: var(--symbol-bg-hover);
  }

  .btn--start-game:hover {
    background-color: var(--btn-start-game-bg-hover);
  }

  .game-board__block:hover {
    background-color: var(--game-board-block-bg-hover);
  }

  .btn--play-again:hover {
    background-color: var(--btn-play-again-bg-hover);
  }

  .btn--restart:hover {
    background-color: var(--btn-restart-bg-hover);
  }

  .btn--back-to-choose-screen:hover {
    background-color: var(--btn-back-to-choose-screen-bg-hover);
  }
}

@media only screen and (prefers-reduced-motion: no-preference) {
  .symbol {
    transition: all 0.3s ease;
  }

  .btn--start-game {
    transition: all 0.3s ease;
  }

  .game-board__block {
    transition: all 0.3s ease;
  }

  .btn--play-again {
    transition: all 0.3s ease;
  }

  .btn--restart {
    transition: all 0.3s ease;
  }

  .btn--back-to-choose-screen {
    transition: all 0.3s ease;
  }
}
